// Hook to override predefined variables.

// Set background color
$background-color: #fffcd6;

// Set colors
$color-text:   #000;
$color-text2:  #000;
$color-header: #000;
$color-code:   #f8f8f2;
$color-link:   #4f4f54;

// Fix fonts -- all Georgia
$font-family-base: Georgia;
$header-font-family: Georgia;
$header-2-font-family: Georgia;
